/*--------- Base Element Styles --------------*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
 	font-family: 'Droid Serif', serif;
}


h1 {
	font-family: 'Lobster', cursive;
}

fieldset {
	border: none;
}

header,
.banner,
footer {
	text-align: center;
}

.banner p,
label {
	color: rgb(128, 128, 128);
}


/*-------- Placeholder styling -----*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: right;
  font-style: italic;
  font-size: .7em;
  padding-right: 2px;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: right;
  font-style: italic;
  font-size: .7em;
  padding-right: 2px;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: right;
  font-style: italic;
  font-size: .7em;
  padding-right: 2px;
}
:-moz-placeholder { /* Firefox 18- */
  	text-align: right;
	font-style: italic;
	font-size: .7em;
	padding-right: 2px;
}

/*--------- Base Layout Styles --------------*/

.wrapper {
	margin: 0 1em;
}

header {
	background: rgb(43, 43, 59);
	color: white;
	margin-top: 0;
	padding: 1em 0;
}

.banner {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 3px solid rgb(43, 43, 59);
}

.h2 {
	font-size: 1.5em;
	display: inline-block;
	margin-bottom: 1.2em;
	font-weight: 700;
}

.newsletter,
.contact,
.account {
	margin: 3px 0 0 0;
	padding-right: 0;
	padding-left: 0;
}

.container {
	margin-top: 2px;
	padding-top: 1.5em;
	border-top: 1px solid rgb(43, 43, 59);
}

.container-border {
	border-bottom: 3px solid rgb(43, 43, 59);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea,
select	{
  background: rgb(242, 242, 242);
  border: none;
  border-radius: 3px;
  font-size: 1em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%;
  color: rgb(128, 128, 128);
  margin-bottom: 2em;
}

select {
	height: 3.188em;
}

label {
	display: block;
	margin-bottom: 10px;
	line-height: 1.5;
}

input:focus,
textarea:focus {
	border: 2px solid rgb(0, 0, 77);
}

label.radio-checkbox {
	display: inline;
}

input[type="radio"],
input[type="checkbox"] {
	margin-left: 0;
	margin-right: .5em;
	margin-bottom: 1em; 
}

.newsletter label {
	margin-bottom: 1.2em;
}

.spacing {
	margin-top: 1.5em;
}

textarea {
	resize: none;
	height: 8em;
}

footer {
	margin-top: 1em;
	margin-bottom: 5em;
	color: rgb(128, 128, 128);
	font-size: .8em;
	font-style: italic;
}

#reminder {
	font-weight: 700;
	font-style: italic;
}

#old-fashioned {
	margin-bottom: 2em;
}

.terms {
	font-size: .8em;
	margin-bottom: 2em;
}

.terms a {
	text-decoration: none;
}

.terms a:visited {
	color: rgb(0, 102, 255);
}

/*------ Button styling ----------*/


button {
	text-align: center;
	border-radius: 5px;
	background: rgb(0, 204, 153);
	color: white;
	padding: 0.9em 0;
	font-size: 1.2em;
	margin-bottom: 1em;
	width: 100%;
	border: none;
}

#signup {
	margin-bottom: 3em;
}

.fb {
	background: rgb(59, 89, 152);
	margin-top: 2em;
}

.fb img {
	height: 1em;
	width: 1em;
	margin-right: 1em;
}

.twtr {
	background: rgb(29, 161, 242);
	margin-bottom: 2em;
}

.twtr img {
	padding: 0;
	height: 1em;
	width: 1em;
	margin-right: 1em;
}


/*------ Captcha ----------*/

.captcha {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2em;
}

.captcha img {
	height: 2em;
	width: 2em;
}

.plus {
	font-size: 2em;
}

#numbers {
	display: inline-block;
	width: 40%;
	float: left;
	text-align: right;
	margin: 0;
	height: 3em;
	padding-right: 1em;
	padding-top: 6px;
}

#validation {
	display: inline-block;
	float: right;
	width: 60%;
	margin: 0;
	height: 3em;
	padding-top: 0;
	padding-bottom: 0;
}


/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}








